# 자료구조
- 데이터를 저장하는 기억공간을 효율적으로 사용할 수 있도록 도와주는 기능
- 기억공간을 효율적으로 사용한다는 것은 낭비를 최소화하고 처리속도를 빠르게
- 파이썬에서 제공하는 자료구조 : 리스트, 튜플, 세트, 딕셔너리, 데이터프레임

## 리스트(List)
- 임의의 객체를 순서대로 저장하는 자료형(시퀀스_sequence 자료형)
- 각 데이터의 값이 담겨지는 위치를 인덱스(index)라고 부른다.
- 인덱스는 0부터 시작된다.
- 변경가능
- 대괄호[]를 사용하여 데이터를 표현

In [1]:
# 리스트(list) : 하나의 변수에 여러값을 할당하는 자료
# 시퀀스 자료형 : 순서대로 데이터를 저장하는 자료형(리스트)

a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [2]:
# 자료형을 확인하는 함수
print(type(a))

<class 'list'>

In [3]:
b = ['a','b','2']
b

['a', 'b', '2']

In [4]:
# 인덱스(index) : 데이터의 위치
b[0]

'a'

In [5]:
# 중첩 리스트 : 리스트 안에 또 다른 리스트를 담는 것
a = [1,2,3,['a','b']]
print(a)

[1, 2, 3, ['a', 'b']]

In [6]:
aa = a[3][1]
bb = a[-1][-1]
print(aa,bb)

b b

In [7]:
# 슬라이싱(slicing) : 리스트에 범위지정을 통해 데이터를 추출, start:end
# 파이썬은 마지막데이터를 포함하지 않는다. end-1까지만 추출
x = [1,2,3,4,5]
x

[1, 2, 3, 4, 5]

In [8]:
x[0:]

[1, 2, 3, 4, 5]

In [9]:
x[:]

[1, 2, 3, 4, 5]

In [10]:
x[:2]

[1, 2]

In [11]:
x[:-1]

[1, 2, 3, 4]

In [12]:
c = ['서울','대구','대전','울산','부산']
c

['서울', '대구', '대전', '울산', '부산']

In [13]:
# 띄어서 가져오기
c[::2]

['서울', '대전', '부산']

In [14]:
# 역순으로 배열
c[::-1]

['부산', '울산', '대전', '대구', '서울']

In [15]:
b = c
print(id(c), id(b))

1831194345664 1831194345664

### 리스트의 연산

In [16]:
# 덧셈연산
x = [1,2,3]
y = [4,5,6]
print(len(x+y))
print(str(x[1]) + 'i')

6
2i

In [17]:
x*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [18]:
# in 연산 : 포함여부
color = ['red', 'blue','green','orange','black','white']
color

['red', 'blue', 'green', 'orange', 'black', 'white']

In [19]:
print("red 포함여부 : " , 'red' in color)

red 포함여부 :  True

In [20]:
# 리스트의 추가, 삭제
## append() : 새로운 데이터가 마지막 위치에 추가
color.append('add')
color

['red', 'blue', 'green', 'orange', 'black', 'white', 'add']

In [21]:
# extend() : 기존에 리스트에 새로운 리스트를 추가
color.extend(['add1', 'add2'])
print(color)

['red', 'blue', 'green', 'orange', 'black', 'white', 'add', 'add1', 'add2']

In [22]:
color=['red','black']
color

['red', 'black']

In [23]:
# 데이터 삽입장소 정하고 싶을 때
# insert(index, data)
color.insert(3,'white')
color

['red', 'black', 'white']

In [24]:
'white' in color

True

In [25]:
# remove(data)
color.remove("white")
color

['red', 'black']

In [26]:
# 같은 요소 여러개 있는 리스트에서 특정 요소만 지우고 싶을 때
# del : 인덱스를 이용한 삭제
color = ['white','red', 'white']
color

['white', 'red', 'white']

In [27]:
del color[0]

In [28]:
color

['red', 'white']

In [29]:
# 패킹(packing)과 언패킹(unpacking)
## packing : 하나의 변수에 여러개의 데이터를 할당하는 것
## unpacking : 하나의 변수에 담긴 여러개의 데이터를 각각의 변수로 반환

x = [1,2,3] # 패킹
a, b, c = x # 언패킹
print(x, a, b, sep=',')

[1, 2, 3],1,2

In [30]:
# 이차원 리스트
kor = [49, 79, 20, 100, 80]
eng = [88, 77, 99, 66, 50]
math = [90, 100, 52, 60, 70]
score = [kor, eng, math]
score

[[49, 79, 20, 100, 80], [88, 77, 99, 66, 50], [90, 100, 52, 60, 70]]

In [31]:
print(score[1][2])

99

In [32]:
a = 100
b = 100
print(a == b, a is b)

True True

In [33]:
a=[0,1,2,3,4,5,5,4,3,2,1,0]
del a[0]
a

[1, 2, 3, 4, 5, 5, 4, 3, 2, 1, 0]

In [34]:
a.insert(0,0)
a

[0, 1, 2, 3, 4, 5, 5, 4, 3, 2, 1, 0]

In [35]:
a.remove(2)
a

[0, 1, 3, 4, 5, 5, 4, 3, 2, 1, 0]

In [36]:
a.pop(3)
a

[0, 1, 3, 5, 5, 4, 3, 2, 1, 0]

In [37]:
a=[1,4,3,5,2]
a

[1, 4, 3, 5, 2]

In [38]:
# 내림차순 정렬
a.sort(reverse = True)
a

[5, 4, 3, 2, 1]

In [39]:
90 in a

False

## 사전(Dictionary)
- 키와 값을 쌍으로 담아서 관리하는 자료구조
- 저장된 각 값에 대한 순서는 의미가 없다
- 저장된 데이터는 키에 의해 조회
- 중괄호{}를 사용하여 데이터 표현
- 키는 중복을 허용하지 않는다

## 튜플(Tuple)
- 리스트와 유사하지만 값을 변경할 수 없다. 즉, 읽기 전용 자료를 저장할 때 사용
- 각 값에 대한 인덱스가 부여
- 변경 불가능
- 소괄호()를 사용하여 데이터 표현

## 집합(Set)
- 인덱스가 없고 값만 저장되는 자료구조
- 순서 의미 없음
- 중괄호{} 사용
- 컴마(,)를 기준으로 데이터 분리
- 중복값 허용하지 않음

# 제어문 : 제어하는 문장
1. 정의 : 프로그램의 흐름이나 순서를 제어할 때 사용하는 문장
         일반적으로 프로그램은 위에서 아래로, 좌에서 우로 진행
         
2. 조건문 or 비교/판단문 or 선택문
 - 주어진 조건에 따라 프로그램의 실행을 선택 또는 변경
 - 조건식은 반드시 그 결과가 참 또는 거짓으로 판정이 되는 식
 - if문
 
3. 반복문
 - 동일하거나 유사한 성격을 가진 문장을 반복할 때 사용하는 문장
 - 주어진 조건이 참일 때 문장을 반복
 - 유사한 성격이란 동일한 행위를 하되 일정한 규칙을 가지고 있는 문장
 - for문, while문
 
4. 기타 제어문
 - break : 무조건 반복을 벗어나라는 의미
 - continue : 이하 생략

## 조건문 - if문

In [40]:
print("hi")
a = 1
print(a)
print('배고파')

hi
1
배고파

In [41]:
print("hi")
a = 1
print(a)
print('배고파')

hi
1
배고파

In [42]:
n = int(input())

if n % 2 == 0 :
    print("입력받은 숫자는 %d이다" %n)
else:
    print("no")

6
입력받은 숫자는 6이다

### 문제 : 성적처리 프로그램 1단계

In [43]:
a = int(input('국어 = '))
b = int(input('영어 = '))
c = int(input('수학 = '))

hap = a + b + c
avg = hap / 3

print('총점 : %f점, 평균 : %.2f점' %(hap , avg))
print('총점 : {}점, 평균 : {:.2f}점'.format(hap, avg))
print('총점 : {0}점, 평균 : {1:.2f}점'.format(hap, avg))

국어 = 60
영어 = 65
수학 = 66
총점 : 191.000000점, 평균 : 63.67점
총점 : 191점, 평균 : 63.67점
총점 : 191점, 평균 : 63.67점

### 문제 : 성적처리 프로그램 2단계

In [44]:
# a = int(input('국어 = '))
# b = int(input('영어 = '))
# c = int(input('수학 = '))

# hap = a + b + c
# avg = hap / 3

if avg >= 90:
    grade ='A'
elif avg >= 80:
    grade ='B'
elif avg >= 70:
    grade ='C'
elif avg >= 60:
    grade ='D'
else :
    grade ='F'

print('총점 : %d점, 평균 : %.2f점\n학점 : %s' %(hap, avg, grade))
print('총점 : {}점, 평균 : {:.2f}점 \n학점 : {}학점'.format(hap, avg, grade))

총점 : 191점, 평균 : 63.67점
학점 : D
총점 : 191점, 평균 : 63.67점
학점 : D학점

## 반복문
- 반복하는 문장
- for문, while문

In [45]:
# for 개별변수 in 집합변수 :

In [46]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [47]:
for i in range(1,6):
    print(i)
    
print('\n')

for i in a:
    print(i)

1
2
3
4
5


1
2
3
4
5

In [48]:
for i in a:
    print('hello')

hello
hello
hello
hello
hello

In [49]:
for _ in a:
    print('hello')

hello
hello
hello
hello
hello

In [50]:
# range(start, end, step) step : 증감식
for i in range(1, 5):
    print(i)
print('\n')
for i in range(1, 5, 2):
    print(i)
print('\n')
for i in range(5): # 시작값을 안적으면 0부터 시작
    print(i)

1
2
3
4


1
3


0
1
2
3
4

In [51]:
for i in 'korea':
    print(i)

k
o
r
e
a

In [52]:
for i in ['red', 'white','black']:
    print(i)

red
white
black

In [53]:
# 홀수 
for i in range(1,11,2):
    print(i)

print('\n')

for i in range(1,11):
    if i % 2 !=0:
        print(i)

1
3
5
7
9


1
3
5
7
9

In [54]:
for i in range(5):
    print("hello" , i+1)

hello 1
hello 2
hello 3
hello 4
hello 5

In [55]:
for i in range(4, -3, -1):
    print(i)

4
3
2
1
0
-1
-2

#### 구구단 출력하는 프로그램

In [56]:
a = int(input('몇단? '))
for i in range(1, 10):
    result = a * i
    print('%s x %d = %d' %(a, i, result))

몇단? 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

### 구구단 출력하시오

In [57]:
for i in range(2, 10):
    print('-------------{}단----------' .format(i))
    for j in range(1, 10):
        print('%d x %d = %s' %(i, j, i * j))
    print()

-------------2단----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

-------------3단----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

-------------4단----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

-------------5단----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

-------------6단----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

-------------7단----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

-------------8단----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

-------------9단----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [58]:
# 다중 for
for i in[1, 2]:
    print('--------%d--------'%i)
    for j in [1,2,3]:
        print(j)
        print('hi')

--------1--------
1
hi
2
hi
3
hi
--------2--------
1
hi
2
hi
3
hi

### 1부터 100까지 자연수를 출력하는 프로그램을 구현하시오.

In [59]:
for i in range(1,101):
    #1000의 자릿수로 정렬하면 공백 제거해도 자동 띄어쓰기
    print('%4d'%i, end='')
    if i % 10 == 0:
        print()

   1   2   3   4   5   6   7   8   9  10
  11  12  13  14  15  16  17  18  19  20
  21  22  23  24  25  26  27  28  29  30
  31  32  33  34  35  36  37  38  39  40
  41  42  43  44  45  46  47  48  49  50
  51  52  53  54  55  56  57  58  59  60
  61  62  63  64  65  66  67  68  69  70
  71  72  73  74  75  76  77  78  79  80
  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100

In [60]:
i = 1
while i < 11:
    print('%5d' %i, end='')
    i += 1

    1    2    3    4    5    6    7    8    9   10

### 숫자를 다섯개 입력받아 그 합을 계산한 후 출력하는 프로그램

In [61]:
a, b, c, d, e = map(int, input().split())
hap = a+b+c+d+e
print(hap)

5 6 7 8 9
35

In [62]:
hap = 0
for i in range(5):
    a = int(input())
    hap += a
    print('%d번째 합은 %d' %(i, hap))
print(hap)

1
0번째 합은 1
2
1번째 합은 3
3
2번째 합은 6
4
3번째 합은 10
5
4번째 합은 15
15

 ### 숫자를 입력받아 누적합을 계산하는 프로그램을 작성하되, 입력받은 숫자가 0이면 입력을 중지하고 누적합의 결과를 출력하는 프로그램

In [63]:
hap = 0
while True :
    a = int(input())
    if a == 0:
        break
    else :
        hap += a
        print(hap)

5
5
4
9
0

In [64]:
for i in range(10):
    if i == 5:
        continue # 건너뛰기
    print(i)

0
1
2
3
4
6
7
8
9

In [65]:
# 반복문의 else의 의미
## 어떤 조건이 완전히 끝났을 때 한 번 실행해 주는 역할
for i in range(10):
    print(i)
else:
    print('End of Program')

0
1
2
3
4
5
6
7
8
9
End of Program

In [66]:
# 단 입력 후 짝수단일 경우 출력

dan = int(input('몇단? '))
i = 0
while dan % 2 ==0:
    i += 1
    if i > 9:
        break
    else:
        print('%d x %d = %d' %(dan,i, dan * i))

몇단? 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [67]:
# 카운트다운
while True:
    a = int(input())
    for i in range(a,0,-1):
        print(i)
    if i == 1:
        break

5
5
4
3
2
1