In [1]:
# 리스트 생성
a = [1,2,3,4,5]
print(a)
print(a[0])

# 마지막 요소
print(a[-1])

print('-'*20)

for i in range(len(a)):
    print(a[i])
print()

for i in range(0, len(a)):
    print(a[i])

[1, 2, 3, 4, 5]
1
5
--------------------
1
2
3
4
5

1
2
3
4
5

In [2]:
# 중첩 리스트
a = [1,2,3,['a','b','c']]
print(a[:])
print(a[:3])
print(a[3][0])

[1, 2, 3, ['a', 'b', 'c']]
[1, 2, 3]
a

In [3]:
# 리스트를 저장할 때 값 자체가 아니라 값이 위치한 메모리의 주소를 저장
x = [1,2,3,4,5]
y = x
y[0] = 10
x

[10, 2, 3, 4, 5]

In [4]:
# 개체 요소별로 대입 시 x배열은 변경되지 않음
x = [1,2,3,4,5]
y = x[:]
y[0] = 10
print(y)
print(x)

[10, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [5]:
# 리스트 연산 : 더하기(+) 연산 
a = [1,2,3]
b = [3,4,5]
print(a+b)

#a.extend(b) => a=a+b
a.extend(b)
print(a)

for i in a:
    print(a[i])

[1, 2, 3, 3, 4, 5]
[1, 2, 3, 3, 4, 5]
2
3
3
3
4
5

In [6]:
a = [1,2,3]
a[1:3] = [] # 인덱스 삭제
a

[1]

In [7]:
a = [1,2,3]
del a[1:3]
a

[1]

In [8]:
a = [2,5,3,6,3]
a.sort(reverse = True)
a

[6, 5, 3, 3, 2]

In [9]:
a = [3,6,4,8,4,2]
a.sort()
a.reverse()
a

[8, 6, 4, 4, 3, 2]

In [10]:
# 요소 위치 찾기

a = [1,2,3,4,5]
print(a.index(3))

2

In [11]:
a = [1,2,4]
a.insert(2,3)
a

[1, 2, 3, 4]

In [12]:
a = [1,2,3,3,2,4,3]
a.remove(3)

In [13]:
a

[1, 2, 3, 2, 4, 3]

In [14]:
del a[0] # 인덱스로 삭제
a

[2, 3, 2, 4, 3]

In [15]:
a = [1,2,3]
a.pop()
a

[1, 2]

In [16]:
# 요소의 개수(건수)
a = [1,2,3,4,4,4,5,2]
a.count(4)

3

In [17]:
# 리스트의 확장
a = [1,2,3]
# 리스트1.extend(리스트2)

In [18]:
# 값 in 리스트, 값 not in 리스트 => 결과는 True or False
a = [1,2,3,4,5]
result = 2 in a
result

True

# 튜플(Tuple)

In [19]:
t1 = (1,2,'a','b')
print(t1)
print(t1[-1])

(1, 2, 'a', 'b')
b

In [20]:
t1 = (1,2,'a','b')
print(t1[1:])
t2 = (3,4)
print(t1 + t2)
t1 = t1 + t2
print('t1: ', t1)

(2, 'a', 'b')
(1, 2, 'a', 'b', 3, 4)
t1:  (1, 2, 'a', 'b', 3, 4)

In [21]:
a = 10
b = 20
a, b = b, a
print(a,b)

20 10

In [22]:
# packing : 여러개의 값을 하나의 변수에 저장하는 것
t1 =(1,2,3)

# unpacking : 하나의 변수에 담은 값을 각각의 변수에 할당하는것
# 데이터의 개수와 변수의 개수는 반드시 일치해야 한다.
n1, n2, n3 = t1

# 출력형식이 포함된 문자열.format(값1, 값2, 값3)
print("{0} {1} {2}".format(n1, n2, n3))

# 변수의 값을 교환
n1, n2, = n2, n1
print('%d %d'%(n1, n2))

1 2 3
2 1

In [23]:
# 형변환 : int(), float(), str()
# 자료구조의 형변환 : list(), tuple()
l = [1,2,3]
t = (1,2,3)
print(l,t)

[1, 2, 3] (1, 2, 3)

# 딕셔너리

In [24]:
# 딕셔너리 {key:value, key:value}
# key는 숫자인덱스보다 문자인덱스를 선호(권장)
# key 중복 불가능
a = {1: 'a'}
print(a, type(a))

{1: 'a'} <class 'dict'>

In [25]:
stu = {'name':'홍길동', 'phone':'010-1234-5678'}
print(type(stu))

<class 'dict'>

In [26]:
# 키를 이용해서 값을 조회
print(stu['name'])
print(stu.get('name'))

홍길동
홍길동

In [27]:
# 조회 => list 형으로 출력
print(stu.keys())
print(stu.values())

dict_keys(['name', 'phone'])
dict_values(['홍길동', '010-1234-5678'])

In [28]:
# items => tuple 로 출력
stu.items()

dict_items([('name', '홍길동'), ('phone', '010-1234-5678')])

In [29]:
# for 개별변수 in 집합변수
for k in stu.keys():
    print(k, stu[k])

name 홍길동
phone 010-1234-5678

In [30]:
b = list(stu.keys())
print(b)

['name', 'phone']

In [31]:
for k, v in stu.items():
    print(k, v)

name 홍길동
phone 010-1234-5678

# 집합

In [32]:
# 집합 자료형 : 중복값은 허용하지 않으며, 순서대로 저장되지 않는다.
s1 = set([5,4,3,2,1,1,2,3,2,3,4,5])
s1

{1, 2, 3, 4, 5}

In [33]:
s1 = set([1,2,3,4,5,6]) 
s2 = set([4,5,6,7,8,9])

a = s1 & s2
b = s1 | s2
print(a)
print(b)
print()

c = s1 - s2
print(c)

print('교집합' , s1.intersection(s2))
print('합집합', s1.union(s2))
print('차집합', s1.difference(s2))

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

{1, 2, 3}
교집합 {4, 5, 6}
합집합 {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합 {1, 2, 3}

In [34]:
s1.add(4) # 한꺼번에 여러개의 요소 추가할 수 없다.
s1

{1, 2, 3, 4, 5, 6}

In [35]:
s1.remove(2)
s1

{1, 3, 4, 5, 6}

# 날짜 자료형

In [36]:
# 날짜 관련 함수를 가지고 있는 모듈을 포함
# import datetime 해당모듈(datetime) 전체를 가져온다는 의미
from datetime import date, time, datetime, timedelta

In [37]:
# date 변수, today() - 오늘 날짜를 구하는 함수
today = date.today()
print(today)

2022-09-05

In [38]:
print('%d년 %d월 %d일' %(today.year, today.month, today.day))

2022년 9월 5일

In [39]:
# 날짜 시간 구하기
current_datetime = datetime.today()
current_datetime

datetime.datetime(2022, 9, 5, 1, 28, 39, 127306)

In [40]:
# 형식화된 날짜 출력 : 서식(%)
today = datetime.today()
print(today)
print(type(today))

2022-09-05 01:28:39.146443
<class 'datetime.datetime'>

In [41]:
# 날짜 자료형을 문자열로 형변환
# %y - 년도, %m - 월, %M - 분, %H - 시간
d = today.strftime("%Y-%m-%d %H:%M:%S")
print(d)

2022-09-05 01:28:39

In [42]:
days = timedelta(days=-1)
# 어제 날짜
print(today + days)

# 일주일 전
days_7 = timedelta(days=-7)
print(today + days_7)

2022-09-04 01:28:39.146443
2022-08-29 01:28:39.146443

# 리스트 내포(List Comprehension)

In [43]:
a = [] # a = list()

for i in range(1,6):
    a.append(i * 2)
    
print(a)

[2, 4, 6, 8, 10]

In [44]:
# 출력
a = [i * 2 for i in range(1,6)]
a

[2, 4, 6, 8, 10]

In [45]:
arr = ['사과','바나나','자두','초콜릿']
output = []

for i in arr:
    if i != '초콜릿':
        output.append(i)

print(output)

['사과', '바나나', '자두']

In [46]:
# 인라인 함수 inline

arr = ['사과','바나나','자두','초콜릿']
output = [i for i in arr if i!='초콜릿']
print(output)

['사과', '바나나', '자두']