In [1]:
# 함수(Function)
# 1) 함수의 정의 : 반복적으로 사용하거나 관련된 기능이나 명령어를 묶어서 처리하는 기능
# - 반복문 : 반복하는 문장, 동일하거나 유사한 성격을 가진 문장을 반복해서 처리할 때 사용하는 문

# 2) 함수의 장점
# - 반복적인 코드를 줄여 코딩을 간소화
# - 프로그램의 유지보수를 쉽게 할 수 있다.

# 선언문: 변수를 선언하거나 초기값을 부여하는 문장

# 3) 함수의 종류
# - 내장함수
# - 사용자 정의 함수

# 4) 함수의 형식 및 구조
#    def 함수명(입력_매개변수):
#        내용정의부

In [2]:
a, b = map(int, input().split())
print(a+b)

1 2
3

In [3]:
def adder(x, y):
    return x+y

In [4]:
# 함수 호출 : Call By Name, Call by Value(매개변수를 가지고 호출)
adder(10, 2)

12

In [5]:
def process(x, y, z):
    pass # 내용을 아직 가지고 있지 않을 때

In [6]:
def test():
    return 1, 2, 3, 4, 5  # (1, 2, 3, 4, 5)
test()

(1, 2, 3, 4, 5)

# 내장함수

In [7]:
# 절대값
print(abs(-3),abs(3))

3 3

In [8]:
# all() - 모든값이 True(참)인지 검사
# 0과 1
print(all([1,2,3]))
print(all([1,2,3,0]))

True
False

In [9]:
# any() - 한개라도 True 이면 True
print(any([1,2,3,0]))
print(any([0,0,-1]))
print(any([0,0,0,0]))

True
True
False

In [10]:
# 문자열일 경우 빈 값이면 False, 값이 있으면 True
a = 'hello'
if a:
    print('True')
else:
    print('False')

    
b = ''
if b:
    print('True')
else:
    print('False')

True
False

In [11]:
print(dir([1,2,3]))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [12]:
print(dir({'name':'길동'}))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [13]:
a = 7
b = 3

print(divmod(7, 3))
print(divmod(1.3, 0.2))

(2, 1)
(6.0, 0.09999999999999998)

In [14]:
n1, n2 = divmod(7, 3) #unpacking
print('몫은 {} 나머지는 {}'.format(n1, n2))

몫은 2 나머지는 1

In [15]:
# 인덱스와 값을 리턴하는 함수
print(enumerate([10, 20, 30, 40, 50]))
print()
print(list(enumerate([10, 20, 30, 40, 50])))

<enumerate object at 0x0000019602E35680>

[(0, 10), (1, 20), (2, 30), (3, 40), (4, 50)]

In [16]:
for i, v in enumerate([10, 20, 30, 40, 50]):
    print(i, v)

0 10
1 20
2 30
3 40
4 50

In [17]:
# eval() : 문자열의 따옴표를 제거하고 실행하는 함수
num = eval(input('number =')) # int() 대신
print(num + 3)

number =5
8

In [18]:
str = 'divmod(7, 3)'
print(eval(str))

(2, 1)

In [19]:
print(hex(234))

0xea

In [20]:
# id(객체) - 객체의 주소를 리턴하는 함수
a = 3
b = a
print(id(a), id(3), id(b))

1745865828720 1745865828720 1745865828720

In [21]:
a = input()
print(a)

5
5

In [22]:
a = int('3')
print(a, type(a))
b = int(3.4)
print(b, type(b))

c = int('1111', 2)
print(c, type(c))

d = int('FF', 16)
print(d, type(d))

3 <class 'int'>
3 <class 'int'>
15 <class 'int'>
255 <class 'int'>

In [23]:
a = ['사과', '배', '수박', '바나나', '포도']
a

['사과', '배', '수박', '바나나', '포도']

In [24]:
result = ''
for i in a:
    result += i + ', '
print(result)

사과, 배, 수박, 바나나, 포도,

In [25]:
print(', ' .join(a))
print(' / ' .join(a))
print('\n' .join(a))

사과, 배, 수박, 바나나, 포도
사과 / 배 / 수박 / 바나나 / 포도
사과
배
수박
바나나
포도

In [26]:
# list(), tuple()
a = list('python')
print(a)
b = tuple('python')
print(b)

['p', 'y', 't', 'h', 'o', 'n']
('p', 'y', 't', 'h', 'o', 'n')

# 사용자 정의 함수

In [27]:
def calc(x):
    print('x = ', x)
    return x * 2
calc(4)

x =  4

8

In [28]:
a = [calc(1), calc(2), calc(3), calc(4)]
a

x =  1
x =  2
x =  3
x =  4

[2, 4, 6, 8]

In [29]:
a = []
for i in [1,2,3,4]:
    a.append(calc(i))
a

x =  1
x =  2
x =  3
x =  4

[2, 4, 6, 8]

In [30]:
a = []
for i in range(1,5):
    a.append(calc(i))
a

x =  1
x =  2
x =  3
x =  4

[2, 4, 6, 8]

In [31]:
# map(함수이름, 입력값리스트)
a = list(map(calc, [1,2,3,4]))
a

x =  1
x =  2
x =  3
x =  4

[2, 4, 6, 8]

In [32]:
c = "이"
print(c, ord(c))

이 51060

In [33]:
a = 'python'

for i in a:
    print('{} -> {}'.format(i, ord(i)))

p -> 112
y -> 121
t -> 116
h -> 104
o -> 111
n -> 110

In [34]:
a = max(1,2,3)
b = max('python')
print(a, b)
c = min(1,2,3)
d = min('python')
print(c, d)

3 y
1 h

In [35]:
a = pow(2,4)
print(a, 2 **4)

16 16

In [36]:
# 호출방법
# Call By Name(이름에 의한 호출), Call By value(값에 의한 호출)
# Call By reference(참조주소에 의한 호출)

In [37]:
def say():
    print('hello')

In [38]:
def say1():
    a = '안뇽'
    return a

In [39]:
say1()

'안뇽'

In [40]:
# 함수 선언
def hello(name):
    string = 'Hello, {}'.format(name)
    return string # print()랑 return 둘중 하나만 하면 됨

hello('suin0') # <- Call By Value

'Hello, suin0'

In [41]:
# 함수 선언
def hello1(name):
    string = 'Hello, {}'.format(name)
    print(string) # print()랑 return 둘중 하나만 하면 됨

In [42]:
hi = hello('sooin1') # <- Call By Value
print(hi)

Hello, sooin1

In [43]:
# 함수 선언
def hello2(name):
    return 'Hello, {}'.format(name)
hello('2')

'Hello, 2'

In [44]:
# 함수 선언
def hello3(name):
    return 'Hello, ' + name

hello3('3')

'Hello, 3'

In [45]:
a = [1, 2, 3, 4, 5]
hap = 0

for i in a:
    hap += i
print(hap)

15