### Unit 8. 불과 비교, 논리연산자 알아보기

In [1]:
# boolean 자료형 : True or False
# 비교(관계) 연산자 : == (항등), != or <>, >, >=, <, <= 결과는 참 or 거짓
# 논리연산자 : and, or, not
# == : 값이 같은지 비교
# is : 주소가 같은지 비교
# id(객체) : 해당 객체의 주소를 반환해 주는 함수

### Unit 9 문자열 자료형

In [2]:
# sequence 자료형 : 문자열, 리스트, 튜플
# 문자열 : "", '', """ ~ """, ''' ~ '''
# 문자열 연산 : +(연결), *(반복)
# 인덱싱(indexing)과 슬라이싱(slicing), 리버스인덱스(마지막 위치 -1)
# 이스케이프문자 : \n, \t
# 문자열.format() => formatting(포매팅)
# %d, %f, %s
# f문자열 포매팅 : 문자열앞에 접두어 f 문자열을 붙여서 출력하는 기능, 버전 3.6부터 추가된 기능

In [3]:
name = '홍길동'
age = 33
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 33입니다.'

In [4]:
age = 27
f'나는 내년이면 {age+1}입니다.'

'나는 내년이면 28입니다.'

In [5]:
# 딕셔너리
dic = {'name':'홍길동', 'age':30}
f'나의 이름은 {dic["name"]}입니다. 나이는 {dic["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [6]:
# 정렬
print(f'{"hi":<10}') # 왼쪽 정렬
print(f'{"hi":>10}') # 오른쪽 정렬
print(f'{"hi":^10}') # 가운데 정렬
print(f'{"hi":=^10}') # 가운데 정렬, 비어있는 공간 = 문자로 채워라
print(f'{"hi":!<10}') # 왼쪽 정렬, 빈칸은 !

hi
        hi
    hi
====hi====
hi!!!!!!!!

In [7]:
# 소수점을 표현하는 방법
x = 3.14159999
print(f'{x:0.4f}')
print(f'{x:10.4f}')

3.1416
    3.1416

In [8]:
a = 'hobby'
a.count('b')

2

In [9]:
a.find('b')

2

In [10]:
# 존재하지 않은 문자의 위치를 물으면 : -1
a.find('k')

-1

In [11]:
a.index('o')

1

In [12]:
# 문자 삽입 - 연결 : join, 문자열에 구분기호를 담을 때
','.join('abcde')

'a,b,c,d,e'

In [13]:
a = 'life is too short'
a.split()

['life', 'is', 'too', 'short']

In [14]:
b = 'a:b:c:d:e'
b.split(":")

['a', 'b', 'c', 'd', 'e']

### Unit10. 리스트와 튜플

In [15]:
# 순서대로 데이터를 저장하고 관리하는 자료구조
# 서로 다른 자료형을 담을 수 있다.
# list(), []

In [16]:
a = [1, 2, ['a','b', ['Life', 'is']]]
print(a)

[1, 2, ['a', 'b', ['Life', 'is']]]

In [17]:
a = "12345"
b = [1, 2, 3, 4, 5]
print(b[0:2])
print(a[0:2])

[1, 2]
12

### Unit12. 딕셔너리

In [18]:
# 생성 {'key':value}
dic = {'a':[1, 2, 3]}  # list(), tuple(), set()
dic

{'a': [1, 2, 3]}

In [19]:
a = {"aaa":1, "bbb":2}
print(a)

{'aaa': 1, 'bbb': 2}

In [20]:
a["ccc"] = 3
print(a)

{'aaa': 1, 'bbb': 2, 'ccc': 3}

In [21]:
a['name'] = '홍길동'
print(a)

{'aaa': 1, 'bbb': 2, 'ccc': 3, 'name': '홍길동'}

In [22]:
del a['name']
print(a)

{'aaa': 1, 'bbb': 2, 'ccc': 3}

In [23]:
# 사전.keys(), 사전.values(), 사전.items()
a.keys()

dict_keys(['aaa', 'bbb', 'ccc'])

In [24]:
a.values()

dict_values([1, 2, 3])

In [25]:
a.items()

dict_items([('aaa', 1), ('bbb', 2), ('ccc', 3)])

In [26]:
# 출력형식 key : value
for i in a.items():
    key = i[0]
    value = i[1]
    print(key, " : ", value)

aaa  :  1
bbb  :  2
ccc  :  3

In [27]:
for i in a.items():
    print(i)

('aaa', 1)
('bbb', 2)
('ccc', 3)

In [28]:
for key, value in a.items():  # unpacking
    print(key, " : ", value)

aaa  :  1
bbb  :  2
ccc  :  3